

#header img{
    width: 100%;

}

#header nav{
    background-color: #3f3f3f;
}

#header a{
    color: white;
    text-decoration: none;
}

#header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0px;
}

#header .button{
    border: 1px solid white;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
}

#header .button:hover{
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
}


#header .active{
    background-color: rgba($color: #ffffff, $alpha: 0.3);
}
