
<section id="header">
    
    <nav>
        <ul>
            <li *ngFor="let item of links" class="button" [ngClass]="{'active': route.url=='/'+ item.url}"  >
                <a [routerLink]="[item.url]">{{item.title}}</a>
            </li>
        </ul>
    </nav>
      
    <img src="../../assets/hero.jpg" alt="portada">
</section>