
<div id="noticias">
    <article [ngClass]="['noticia-item', 'row', item.categoria]" *ngFor="let item of destacadas">
        <div class="col-12 col-md-3"><img [src]="item.imagen" alt="not found"></div>
        <div class="texto col-12 col-md-7">
            <h3>{{item.titulo}}</h3>
            <p>{{item.resumen}}</p>
        </div>
        <div class="col-12 col-md-2">
            <p>Tags: {{item.categoria}}</p>
            <button (click)="onClick(item.id)">Leer más</button>
        </div>
    </article>

    <article [ngClass]="['noticia-item', 'row', item.categoria]" *ngFor="let item of generales">
        <div class="col-12 col-md-3"><img [src]="item.imagen" alt="not found"></div>
        <div class="texto col-12 col-md-7">
            <h3>{{item.titulo}}</h3>
            <p>{{item.resumen}}</p>
        </div>
        <div class="col-12 col-md-2">
            <p>Tags: {{item.categoria}}</p>
            <button (click)="onClick(item.id)">Leer más</button>
        </div>
    </article>
</div>