

.entretenimiento h3{
    color: green;
}
.mundo h3{
    color: blue;
}
.deportes h3{
    color: darkred;
}
.economia h3{
    color: purple;
}
.salud h3{
    color: darkblue;
}
.tecnologia h3{
    color: red;
}
.entretenimiento button{
    background-color: green;
}
.mundo button{
    background-color: blue;
}
.deportes button{
    background-color: darkred;
}
.economia button{
    background-color: purple;
}
.salud button{
    background-color: darkblue;
}
.tecnologia button{
    background-color: red;
}

/*---------------------------------------------*/


.noticia-item{
    padding: 10px;
}

.noticia-item img{
    width: 100%;
    height: 160px;
}

.noticia-item button{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;

}
