#servicio-form{
    background-color: #f2f2f2;
    margin-top: 40px;
    padding: 40px;
}

#message-sent{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#message-sent h4{
    background-color: #3dcc8b;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}