

<div *ngIf="!message_sent">
<form id='servicio-form' class="needs-validation" novalidate>
    
    <!-- Inputs (nombre, correo, telefono) -->

    <div class="form-row">
        <div class="col-12 col-md-5">

            <!----------- Nombre -------------->
            <div class="form-group"> 
                <label for="input-nombre">Nombre</label>
                <input type="text" class="form-control" id="input-nombre" placeholder="Ej. Carlos Ignacio Moras Laje" required>
                <div class="invalid-feedback">
                Por favor completar este campo.
                </div>
            </div>
             <!----------- Correo -------------->
            <div class="form-group">
                <label for="input-correo">Correo electronico</label>
                <input type="email" class="form-control" id="input-correo" placeholder="ejemplo@gmail.com" required>
                <div class="invalid-feedback">
                Por favor completar este campo con un correo valido.
                </div>
            </div>
             <!----------- Telefono -------------->
            <div class="form-group">
                <label for="input-telefono">Numero de contacto</label>
                <input type="number" class="form-control" id="input-telefono" placeholder="961234567" required>
                <div class="invalid-feedback">
                    Por favor ingrese un numero de celular valido.
                </div>
            </div>
             <!----------- Dirigido a -------------->
            <div class="form-group">
                <label for="select-dirigido">Dirigido a: </label>
                <select id='select-dirigido' class="custom-select">
                    <option selected>Contenidos</option>
                    <option value="1">Publicidad</option>
                    <option value="2">Sugerencias</option>
                    <option value="3">Subscripciones digitales</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-6 offset-md-1">
            <div class="form-group">
                <label for="textarea-mensaje">Dejanos tu mensaje</label>
                <textarea class="form-control" id="textarea-mensaje" rows="8" required></textarea>
                <div class="invalid-feedback">
                    Campo requerido
                </div>
              </div>
        </div>

    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>

<div id="message-sent" *ngIf="message_sent">
    <h4>
        Gracias por ponerse en contacto con nosotros. <br> En breve recibirá nuestra respuesta! <br>
        <a [routerLink]="'/'" >Volver</a>         
    </h4>
</div>

