<article [ngClass]="['item-general']">
    <img [src]="data.imagen">
    <div class="noticia-container">
        <h4>Noticia</h4>
        <p>{{data.titulo}}</p>
        
        <div class="button-container">
            <button (click)="onClick()">Leer más</button>
        </div>
    </div>
</article>
