

.item-general{
    width: 220px;
    background-color: #f2f2f2;
    margin: 20px;
}

.item-general h4{
    text-align: center;
}

.item-general p{
    margin: 20px 0px;
}

.item-general img{
    width: 220px;
    height: 210px;
}

.item-general .noticia-container{
    padding: 10px;
}

.item-general .button-container{
    display: flex;
    justify-content: center;
}

.item-general button{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

}