<article [ngClass]="['item-destacado', data.categoria]">
    <img [src]="data.imagen">
    <div class="noticia-container">
        <h4>{{data.titulo}}</h4>
        <p>{{data.resumen}}</p>
        
        <div class="button-container">
            <button (click)="onClick()">Leer más</button>
        </div>
    </div>
</article>