
.entretenimiento h4{
    color: green;
}
.mundo h4{
    color: blue;
}
.deporte h4{
    color: darkred;
}
.economia h4{
    color: purple;
}
.salud h4{
    color: darkblue;
}
.tecnologia h4{
    color: red;
}
.entretenimiento button{
    background-color: green;
}
.mundo button{
    background-color: blue;
}
.deporte button{
    background-color: darkred;
}
.economia button{
    background-color: purple;
}
.salud button{
    background-color: darkblue;
}
.tecnologia button{
    background-color: red;
}

/*---------------------------------------------*/

.item-destacado{
    width: 300px;
    background-color: #f2f2f2;
    margin: 20px;
}

.item-destacado img{
    width: 300px;
}

.item-destacado .noticia-container{
    padding: 10px;
}

.item-destacado .button-container{
    display: flex;
    justify-content: center;
}

.item-destacado button{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;

}