
<div id='inicio'>
    <div id='destacados'>
        <app-item-destacado [data]="destacadas[0]"></app-item-destacado>
        <app-item-destacado [data]="destacadas[1]"></app-item-destacado>
        <app-item-destacado [data]="destacadas[2]"></app-item-destacado>
    </div>
    <div id="generales">
        <app-item-general [data]="generales[0]"></app-item-general>
        <app-item-general [data]="generales[1]"></app-item-general>
        <app-item-general [data]="generales[2]"></app-item-general>
        <app-item-general [data]="generales[3]"></app-item-general>
    </div>
</div>