
#articulo .entretenimiento{
    background-color: green;
}
#articulo .mundo{
    background-color: blue;
}
#articulo .deporte{
    background-color: darkred;
}
#articulo .economia{
    background-color: purple;
}
#articulo .salud{
    background-color: darkblue;
}
#articulo .tecnologia{
    background-color: red;
}

/*---------------------------------------------*/


#articulo h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#articulo #tag-container{
    display: flex;
}

#articulo #tag-container p{
    padding: 5px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
#articulo #resumen{
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

#articulo img{
    width: 100%;
    margin-bottom: 50px;
}

#articulo #cuerpo{
    text-align: justify;
}