<div class="row" id="articulo">
    <div class="col-12" id='tag-container'>
        <p [ngClass]="[data.categoria]">Categoria: {{data.categoria}}</p>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
        <h3>{{data.titulo}}</h3>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
        <p id="resumen">{{data.resumen}}</p>
    </div>

    <div class="col-12 col-md-8 offset-md-2">
        <img [src]="data.imagen" alt="fotiwi">
    </div>

    <div class="col-12 col-md-8 offset-md-2" id="cuerpo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus diam sed purus egestas, ac accumsan purus feugiat. Donec condimentum nisi eget mi facilisis, id porta turpis pulvinar. Nullam in ullamcorper nisi. Nam ultrices vel dolor et finibus. Suspendisse potenti. Suspendisse eget ligula elementum, lobortis nisi eget, sodales massa. Nulla interdum tortor a nisi fringilla, ut elementum augue ullamcorper. Duis non placerat tortor, non facilisis nisi. Nulla fringilla risus urna, sed rutrum justo pharetra id. Etiam nec mi eu diam iaculis convallis. Integer at accumsan mi. Nulla tincidunt nisl arcu, ut imperdiet neque tempor et. Quisque sit amet faucibus tellus. Nam gravida convallis lectus eget lobortis.</p>
        <p>Etiam purus sapien, scelerisque nec dui eget, malesuada vehicula mi. In ullamcorper pharetra ipsum vel pulvinar. Maecenas ac congue quam. Aenean a tortor vitae nisl feugiat aliquet. Integer id odio id risus suscipit condimentum. Vestibulum semper dictum dapibus. Etiam feugiat vestibulum erat sed suscipit. Fusce urna arcu, rutrum ac est nec, hendrerit varius nunc. Proin nunc ligula, maximus id viverra auctor, mattis sed nisl. Donec at malesuada elit, vel elementum lectus. Donec consequat arcu diam, vitae mollis neque placerat sit amet. Duis nulla mi, posuere in odio vitae, gravida molestie leo. Nullam eleifend, enim at porttitor ornare, quam tortor convallis ipsum, eget venenatis risus nisi vel neque. Nam in ligula at massa maximus sodales a in est.</p>
        <p>Proin varius ipsum non purus porttitor vehicula. Donec rutrum molestie massa, ut semper velit pharetra et. Morbi tincidunt nisi vitae eros ullamcorper, ut iaculis nisl lobortis. Aliquam erat volutpat. Phasellus et lectus ligula. Morbi sit amet nisi id nulla vestibulum venenatis. Mauris a cursus elit. Fusce nec hendrerit ligula, vel aliquet orci. Proin faucibus diam nec pulvinar viverra. Sed volutpat augue eget quam feugiat efficitur.</p>
        <p>Sed faucibus fringilla tortor. Integer nunc est, tincidunt et molestie vel, mattis eu magna. Nunc faucibus ac nibh in consectetur. Sed eleifend erat vel aliquam consectetur. Fusce sit amet ipsum scelerisque, gravida nisl at, consequat urna. Nunc vitae quam placerat, placerat eros nec, finibus lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam molestie rutrum porttitor. Maecenas in condimentum metus. In a felis mi. Phasellus molestie tincidunt velit a ultricies. Ut maximus, felis nec tristique semper, lacus tellus egestas velit, nec pretium libero dui vitae enim. Etiam ipsum enim, lacinia id molestie sed, lacinia id sapien.</p>
     </div>
</div>
